*
{

margin: 0;
padding: 0;
box-sizing: border-box;

}
body
{

    overflow-x: hidden


}
#nav-bar
{

position: sticky;
top:0;
z-index: 10;
position: fixed;
width: 100%;

}
.navbar
{

background-image:linear-gradient(to right, #fff, #fff);
padding: 2 !important;


}
.navbar-brand img
{

    height: 70px;
    width: 388.5px;
    padding-left:0px;
    padding-right: 0px;
    
    

}
.navbar-nav li
{

    padding: 0 10px;
    

}
.navbar-nav li a 
{
    
    color: #000 !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.button li a
{

    font-weight: 100;

}

.fa-user
{
    color: #000;
    font-size: 20px !important;

}
.navbar-toggler
{

    outline: none !important;

}
.navbar-collapse
{

    flex-direction:column-reverse;

}

/*----------Home Page Background Section---------------*/

#container{

    position:absolute;
    left: 0;
    right: 0;
    align-content:center;
    justify-content:center;
    place-content: center;
    text-align: center;

    
    
}
.background img
{
 
    float:left;
    max-width: 33.33%;
    background-size: cover;
    object-position: center;

}
.promo-title
{
    font-family: 'Poppins', sans-serif;
    position:absolute;
    text-align: center;
    width: 100%;
    margin-top: 150px;
    font-size: 58px;
    font-weight: 1000;
    color: white;
    text-shadow: rgb(0 0 0 / 30%) 0px 4px 5px;
    
}
.promo-title-small
{
    font-family: 'Poppins', sans-serif;
    position: absolute; 
    text-align: center;
    width: 100%;
    margin-top: 230px;
    font-size: 58px;
    font-weight: 600;
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
    color: white;  

}
.promo-title-green
{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    text-shadow: rgb(0 0 0 / 70%) 0px 2px 5px;
    font-size: 40px;
    font-weight: 550;
    width: 100%;
    text-align:center;
    margin-top: 310px;
    color: #BADA55;
}
.promo-title-club
{

    position: absolute;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    text-shadow: rgb(0 0 0 / 70%) 0px 2px 5px;
    font-size: 31.5px;
    font-weight: 600;
    width: 100%;
    text-align:center;
    margin-top: 380px;
    color: #fff;

}
.background img
{

    width:421px;
    height: 1700px; 
    padding-top: 0px; 
    filter: blur(2px);
    display:flex;

   


}
.row::after
{

clear: both;
display: table;

}

/*----------------SHF Offers------------------*/

#offer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 1700px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    background-color: #fff;
    
}

#offer .col-md-6 
{

    padding: 30px 10px;
    
}
#offer h3
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    padding-top: 1000px;
    padding: 50px;

}
#offer p
{

    font-family:'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;

/*----------------Customer Testimonials------------------*/


}
.testimonials
{

   margin: 0px auto;
   padding-top: 2500px;
   padding-bottom: 150px;
   background-color: #DBDBDB;
   
}
   img,
   svg {

    width: 300px;

}
.testimonials h1
{

    text-align: center !important;
    padding: 70px;
    font-weight: 700;
    font-family: 'Montserrat' sans-serif;
    

}
.blockquote h1
{

    font-family: 'Montserrat';

}
.testimonials h3
{

    text-align: center !important;
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;


}
.testimonials h3::after
{

    content: '';
    background: #000;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;


}
.testimonials row
{

    margin-top: 30px;

}
.col-md-4
{

    margin: 40px auto;

}
.profile 
{

    padding: 70px 10px 10px;
    background-color: #fff;


/*----------------Fitness Blog------------------*/
}
.blog
{

    width: 100%;
    height: 200vh;
    background: #b5c5c4;
    padding-bottom: 10px;
    margin-bottom: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.blog h1
{

    font-weight: 700;
    font-size: 40px;
    height: 170vh;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    


}
.swiper{

    width: 60%;
    height: fit-content;
    position: absolute;
    bottom: 150px;
    
    

    
    

}
.swiper-slide img
{

    width: 100%;
    



/*----------Home Page Background Section---------------*/

}
.main
{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;

}
.footer
{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: black;


}
.footer > *{
    flex: 1 50%;
    margin-left: 100px;

}
.footer left{

    margin-right: 1.25rem;
    margin-bottom: 2em;
    flex: 5 10px;

}
.footer-left img
{

    width: 100%;

}
.h2
{

    font-weight: 400;
    font-size: 17px;

}
.footer ul
{

    list-style: none;
    padding-left: 0;

}
.footer li
{

    line-height: 2em;

}
.footer a
{

    text-decoration: none;


}
.footer-right
{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;

}
.footer right > *{

    flex: 1 50%;
    margin-right: 1.25em;
}
.box a 
{

    color: #999;

}
.footer-bottom
{

    text-align: center;
    color: black;
    padding-top: 50px;


}
.footer-left 
{

    margin: 20 1 10;
}
.footer-left p
{

    padding-right: 20%;
    font-weight: 1000;
    color: white;
    margin: 10 1 1 40;
    margin-right: 10px;
    

}
.socials a
{

    background: #364a62;
    width: 40px;
    height: 40px;
    overflow:scroll !important;
    
   

}
.socials a i
{

    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
  
    

}
@media screen and (min-width: 600px){

        .footer-right > *{
            flex: 1;
        }
        .footer-left{
            flex: 1 0px;
        }
        .footer-right{
            flex: 2 0px;
        }
    }
